.users-view-container {
  margin-top: 5%;
}

/*==================================================
=                 Media Queries                    =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .users-view-container {
    margin-left: 15%;
    margin-right: 15%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
